*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* Menú responsive */
.menu-lateralResponsive {
    width: 45%;
    height: 100%;
    background-color: #FFF;
    right: -100%;
    top: 70px;
    position: fixed;
    transition: 1s;
    
}

.nav-responsive {
    float: left;
    width: 100%;
    margin-left: 10px;
}

.nav-responsive ul li {
    text-align: center;
    display: block;
    margin-top: 20px;
    border-bottom: 2px rgba(0, 0, 0, 0.10) solid;
}

.nav-responsive ul li a {
    font-size: 28px;
}

.logo {
    font-family: 'Encode Sans Condensed', sans-serif;
    color: rgba(0,0,0,.65);
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    margin-left: 8px;
    font-weight: bold;
}

header {
    position: relative;
    width: 100%;
    background-color: #FFF;
    opacity: 0.9;
    height: 85px; 
    margin-bottom: 0;
    border-bottom: 1.6px #f1eded solid;
    /* box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, .24); */
}

.cantidad {
    position: absolute;
    right: 0;
    font-family: 'Heebo', sans-serif;
    margin-right: 50px;
    background-color: #34d488;
    color: #FFF;
    font-weight: 700;
    font-size: 15px;
    border-radius: 50%;
    padding: 2px 6px;
    top: 30px;
}

.href-carrito, .icon-cart {
    color: black;
    text-decoration: none;
}

.li-perfilUsuario {
    margin-left: 20px; 
}

.img-usuario {
    float: right;
    width: 35px;
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
    margin-right: 20px;
    margin-top: -10px;
    height: 35px;
}

.subMenu-usuario {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    padding: 5px 10px;
    float: right;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.1);
    background: rgb(255, 255, 255);
}

.subMenu-usuario li {
    display: inline-block;
    border-bottom: 2px #dddddd solid;
    background-color: #FFF;
    width: 90%;
    margin: 10px 5%;
}

.subMenu-usuario li a {
    width: 100%;

}

.sub-menu {
    width: 100%;
    height: 65px;
    box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, .24);
    position: relative;
}

.lista-submenu {
    width: 65%;
    margin: 10px 0 0 35%;
    float: left;
}

.lista-submenu > li {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
}

.lista-submenu li a {
    font-family: 'Encode Sans Condensed', sans-serif;
    text-decoration: none;
    color: rgba(0,0,0, 0.80);
    font-size: 20px;
}

.icon-cart {
    font-size: 30px;
    margin-top: 10px;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
    position: absolute;
}

.bajar-header {
    box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, .24);
    animation: 1s bajar;
    position: fixed;
    z-index: 7;
    border-bottom: 0;
    opacity: 1;
}

@keyframes bajar {
    from {
       top: -70px;
    }to {
        top: 0px;
    }
}

.icon-menu {
    display: none;
    float: right;
    height: 37px;
    width: 37px;
    margin-top: 16.5px;
    margin-right: 25px;
}

.img-logo {
    height: 70px;
    width: 70px;
    margin-left: 60px;
}

nav {
    float: right;
    margin-right: 10px;
}

nav ul {
    margin-top: 30px;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: rgba(0,0,0, 0.80);
    font-size: 20px;
}

/* BUSCAR */
#campoBuscar {
    padding: 10px 15px;
    width: 280px;
    border-radius: 30px;
    font-size: 17px;
    border: 1.5px #dddddd80 solid;
}

#campoBuscar:focus {
    outline: none;
}

.icon-search {
    font-size: 20px;
    cursor: pointer;
}

.container-buscador {
    top: -100%;
    right: 0;
    margin-right: 10px;
    position: absolute;
    height: auto;
    width: auto;
    transition: 0.4s;
}

.container-buscador span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 20px;
}

#cabecera:hover .container-buscador {
    top: -100%;
}

.lista-principal {
    transition: 0.5s;
}

.errorBusqueda {
    position: absolute;
    right: 0;
    margin-right: 40px;
    bottom: 0;
    margin-bottom: 5px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 13px;
    color: salmon;
}

.ocultar {
    transition: right 2s;
    right: -100%;
}

/* FIN BUSCAR */


.actual {
    color: #10E82D;
}

.parte1 {
    background: url(../imagenes/fondoblog.jpg) no-repeat top;
    height: 400px;
}

.parte1 h1 {
   padding: 20px;
   font-size: 40px;
   margin-left: 130px;
   color: #12D141;
   font-family: 'Encode Sans Condensed', sans-serif;
}

.parte1 p {
    width: 45%;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    color: #202020;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.main {
    display: inline-block;
    height: auto;
}



.main .articles{
    width: 68%;
    margin-top: 20px;  
    float: left;
}

.article1 {
    margin-left: 20px;
    border: 1px #f0f0f0 solid;
    margin-bottom: 20px;
}

.article1:hover {
    border: 2px #12D141 solid;
}

.article1:hover h5 {
    color: white;
    background-color: #202020;
    transition: 0.3s;
}

.article1 h2{
    padding: 10px;
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #202020;
    margin-left: 150px;
    margin-bottom: 20px;
}

.article1 h5 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 18px;
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
}

.encabezado {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.article1 p{
    padding: 15px;
    width: 50%;
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #202020;
    font-size: 20px;
    text-align: justify;
    margin-right: 20px;
    margin-bottom: 25px;
}

.article2 h2{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #202020;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.article2 p{
    width: 90%;
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #202020;
    font-size: 20px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
}

article img{
    float: right;
    width: 40%;
    height: 40%;
    margin-bottom: 30px;
}

aside{
    border: 2px #f0f0f0 solid;
    margin-top: 20px;
    margin-right: 12px;
    width: 28%;
    float: right;
    margin-left: 10px;
}

aside img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

aside h3{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    color: #202020;
    font-size: 30px;
}
aside p{
    padding: 10px;
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #202020;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.suscripcion {
    margin-top: 5%;
    margin-bottom: 5%;
    float: right;
    width: 28%;
}

.suscripcion h1 {
    margin-bottom: 20px;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: justify;
}

.recomendados {
    width: 28%;
    margin-bottom: 3%;
    float: right;
    margin-right: 12px;
}

.recomendados h1 {
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.recomendados p {
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: justify;
    margin-left: 20px;
}

iframe {
    margin-left: 10px;
    width: 100%;
}

input[type="email"] {
    padding: 2.5%;
    width: 60%;
    font-family: sans-serif;
    color: #202020;
}

input[type="submit"] {
    width: 30%;
    font-family: 'Encode Sans Condensed', sans-serif;
    background: #12D141;
    color: #FFF;
    padding: 3%;
    border: #f0f0f0;
    border-radius: 3px;
}

/* FOOTER */

footer{
    width: 100%;
    background: #202020;
    color: white;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.cont-body{
    display: flex;
    justify-content: space-between;
}

.columna1{
    max-width: 400px;
}

.columna1 h1{
    font-size: 20px;
}

.columna1 p{
    font-size: 15px;
    color: #C7C7C7;
    margin-top: 20px;
}

.suscripcionfooter h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.suscripcionfooter input[type="email"] {
    padding: 2.5%;
    width: 60%;
    font-family: sans-serif;
    color: #202020;
}

#suscribefooter {
    padding: 2.5%;
    width: 60%;
    font-family: sans-serif;
    color: #202020;
}

#submitfooter {
    width: 30%;
    font-family: 'Encode Sans Condensed', sans-serif;
    background: #12D141;
    color: #FFF;
    padding: 3%;
    border: #f0f0f0;
    border-radius: 3px;
}

.columna2{
    max-width: 400px;
}

.columna2 h1{
    font-size: 20px;
}

.fila{
    margin-top: 20px;
    display: flex;
}

.fila img{
    width: 32px;
    height: 32px;
}

.fila label{
    margin-top: 10px;
    margin-left: 10px;
    color: #C7C7C7;
}

.columna3{
    max-width: 400px
}

.columna3 h1{
    font-size: 20px;
}

.fila-columna3{
    margin-top: 20px;
    display: flex;
}

.fila-columna3 img {
    width: 32px;
    height: 32px;
}

.fila-columna3 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 180px;
}

.cont-footer {
    width: 100%;
    background: #101010;
}

.alineacion{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nosotros a{
    color: #C7C7C7;
    text-decoration: none;

}



@media screen and (max-width: 1100px){
    .cont-body{
        flex-wrap: wrap;
    }

    .columna1{
        max-width: 100%;
    }

    .columna2,
    .columna3{
        margin-top: 40px;
    }
}


@media screen and (max-width: 830px) {
    header nav {
        display: none;
    }

    .icon-menu {
        display: block;
    }

    .sub-menu {
        display: none;
    }

    .lista-submenu {
        display: none;
    }

    .img-logo {
        margin-left: 15px;
    }
}

/* Responsive Menú */
@media screen and (max-width: 550px) {
    .menu-lateralResponsive {
        width: 70%;
    }
}

@media screen and (max-width: 380px) {
    .menu-lateralResponsive {
        width: 90%;
    }
}

@media screen and (min-width: 831px) {
    .menu-lateralResponsive {
        display: none;
    }
}






       
