* {
    
}

.subMenu-usuario {
    top: 45px;
}

/* BUSCAR */
#campoBuscar {
    padding: 10px 15px;
    width: 280px;
    border-radius: 30px;
    font-size: 17px;
    border: 1.5px #dddddd80 solid;
}

#campoBuscar:focus {
    outline: none;
}

.icon-search {
    font-size: 20px;
    cursor: pointer;
}

.container-buscador {
    top: -100%;
    right: 0;
    margin-right: 10px;
    position: absolute;
    height: auto;
    width: auto;
    transition: 0.4s;
}

.container-buscador span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 20px;
}

#cabecera:hover .container-buscador {
    top: -100%;
}

.lista-principal {
    transition: 0.5s;
}

.errorBusqueda {
    position: absolute;
    right: 0;
    margin-right: 40px;
    bottom: 0;
    margin-bottom: 5px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 13px;
    color: salmon;
}

.ocultar {
    transition: right 2s;
    right: -100%;
}

/* FIN BUSCAR */


.cuerpo13{
    width: 100%;
    height: 572px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.descar13{
    width: 80%;
    height: 7%;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 20px;
    border: 1px #b1b0b0 solid;
}
.tituproduc13{
    float: left;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px #b1b0b0 solid;
}
.tituproduc13 p{
    margin-left: 4%;
}

.titucan13{
    height: 100%;
    float: left;
    width: 16.666%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px #b1b0b0 solid;
}

.titucan13 p{
    color: green;
}


.car13{
    width: 80%;
    height: 50%;
    border: 1px #b1b0b0 solid;
    font-family: 'Encode Sans Condensed', sans-serif;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    display: flex;
}
.produc13{
    width: 50%;
    height: 100%;
    border: 1px #b1b0b0 solid;

    
}
.img13{
    width: 100%;
    height: auto;
    border: 1px #b1b0b0 solid;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

}
.img13 img{
    height: 500px;
    width: 50%;
}
.des13{
    width: 100%;
    height: 30%;
    border: 1px #b1b0b0 solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.des13 h6 {
    font-size: 20px;
}

.contidad13{
    float: left;
    width: 16.666%;
    height: 100%;
    border: 1px #b1b0b0 solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.suptotal{
    position: relative;
    width: 80%;
    margin: 0px 10%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Encode Sans Condensed', sans-serif;
    border: 1px #b1b0b0 solid;
}
.sup{
    float: right;
}

.sup p{
    text-align: right;
}

.sup input[type="text"] {
    border: 0;
    width: 85px;
    font-size: 20px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.sup input[type="text"]:focus {
    outline: none;
}

.pagos{
    display: inline-block;
    width: 50%;
    height: auto;
}
.pagos p{
    height: auto;
    margin-left: 2%
}

.precioTotal {
    font-size: 20px;
    float: right;
    color: #424242ea;
    font-family: 'Encode Sans Condensed', sans-serif;
}


.comprar{
    margin-top: 1%;
    width: 80%;
    height: 8%;
    display: inline-block;
}

.for13{
    width: 50%;
    height: 100%;
    float: left;
}

.ya13{
    width: 50%;
    float: left;

}
.ya13 h5{
    text-align: end;
    margin-right: 2%

}

.empre13{
    width: 30%;
    float: left;
}
.empre13 img{
    width: 20%;
    height: 50%;
    float: left;

    
}
.comya13{
    padding: 7px;
    height: 50%;
    margin: 30px 25% 0 25%;
    width: 50%;
    background-color: rgb(232, 13, 12);
    border-radius: 25px;
    font-size: 27px;
    box-shadow: 0px 0px 5px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.comya13:hover {
    background-color: rgba(238, 38, 38, 0.97);
}

.comya13 h5 {
    color: #ffffff;
    text-align: center;
}
.comya13 a{
    text-decoration: none;
}

.continuar13{
    width: 80%;
    height: 6%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

}
.continuarlin{
    padding: 7px;
    height: 50%;
    margin: 20px 25% 80px 25%;
    width: 50%;
    background-color: #ff9a00;
    border-radius: 25px;
    font-size: 27px;
    box-shadow: 0px 0px 5px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.continuarlin:hover {
    background-color: #f79b12ee;
}

.continuarlin a{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}


/* VENTANA EMERGENTE */

.flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#miModal {
    display: none;
    position: fixed;
    z-index: 2;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
    font-family: 'Nunito', sans-serif;
}

.contenido-modal {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 60%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}

@keyframes modal {
    from {top: -330px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

.modal-header {
    padding: 8px 16px;
    background: #3db306f8;
    color: #f2f2f2;
    text-align: center;
}

.modal-body p {
    text-align: justify;
    font-size: 20px;
}

.modal-body {
    padding: 40px;
}

.contenido-modal input[type="submit"] {
    background-color: #01161E;
    padding: 10px;
    font-size: 20px;
    border: 0;
    margin: 10px;
    color: #FFFFFF;
    border-radius: 15px;
    width: 70%;
    margin: 35px 14% 0 14%;
}

.contenido-modal input[type="submit"]:hover {
    cursor: pointer;
}

#close-alert {
    float: right;
    margin-top: 3px;
    font-size: 22px;
    cursor: pointer;
}

.modal-body label {
    margin-top: 20px;
}

.modal-body .campo {
    width: 35%;
    font-size: 17px;
    padding: 7px;
    margin-top: 20px;
}

.icon-airplane, .tiempo {
    color: #252525dc;
    font-weight: 550;
    margin: 0 5px;
    font-family: 'Nunito', sans-serif;
}

.inputFecha {
    border: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
}

.inputFecha:focus {
    outline: none;
}

.cod-postal {
    margin-left: 20px;
}

.campo-addres {
    padding: 7px;
    font-size: 17px;
    width: 72%;
    margin-top: 20px;
}

.linea-separadora {
    width: 100%;
    height: 2px;
    margin: 25px 0;
    background-color: #dddddd40;
}

.modal-body ul {

}

.modal-body ul li {
    display: inline-block;
    position: relative;
    margin-right: 40px;
    height: 55px;
    width: 85px;
    margin-top: 10px;
}

.modal-body ul li img {
    height: 55px;
    width: 55px;
    margin-left: 30px;
}

.modal-body input[type="radio"] {
    height: 20px;
    width: 20px;
    left: 0;
    margin-top: 17px;
    top: 0;
    position: absolute;
}

/* FIN VENTANA EMERGENTE */

/* Carrito */

table {
    width: 80%;
    font-family: 'Encode Sans Condensed', sans-serif;
    margin: 60px 10% 40px 10%;
    border: 2px #C7C7C7 solid;
    border-collapse: collapse;
    font-size: 20px;
}

table tr th{
    padding: 15px;
    border-collapse: collapse;
}

table tr th, td {
    padding: 15px;
    border: 2px #C7C7C7 solid;
    text-align: center;
}

table img {
    width: 35%;
    height: 160px;
}

.btn-delete img{
    width: 30px;
    height: 30px;
}

.btn-delete {
    background: rgba(0, 0, 0, 0.0);
    border: 0;
}

.pagos ul li {
    display: inline-block;
    margin-left: 15px;
    height: 100%;
    font-size: 17px;
}

.pagos ul {
    padding: 0;
    height: 50px;
}

.pagos ul li img {
    height: 70px;
    width: 70px;
    margin-top: -10;
}

.pagos p {
    float: left;
}



