*{
    margin: 0%;
    padding: 0%;

}

/* BUSCAR */
#campoBuscar {
    padding: 10px 15px;
    width: 280px;
    border-radius: 30px;
    font-size: 17px;
    border: 1.5px #dddddd80 solid;
}

#campoBuscar:focus {
    outline: none;
}

.container-buscador {
    top: -100%;
    right: 0;
    margin-right: 10px;
    position: absolute;
    height: auto;
    width: auto;
    transition: 0.4s;
}

.container-buscador span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 20px;
}

#cabecera:hover .container-buscador {
    top: -100%;
}

.lista-principal {
    transition: 0.5s;
}

.errorBusqueda {
    position: absolute;
    right: 0;
    margin-right: 40px;
    bottom: 0;
    margin-bottom: 5px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 13px;
    color: salmon;
}

.ocultar {
    transition: right 2s;
    right: -100%;
}

/* FIN BUSCAR */

.descripcion{
    box-shadow: 0px 0px 15px;
    width: 100%;
    height: 600px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.des1234{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80%;
}

#imgdescripcion{
    
    width:85%;
    height: 80%;
    float: left;
}

.datos12{
    box-shadow:0px 0px 15px;
    width: 28%;
    height: 70%;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 3%;
    
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton123{
    width: 3em;
    height: 2em;
    background-color: #E80D0C;
    border-radius: 25px;
    box-shadow: 0px 0px 8px;
    font-size: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton123:hover {
    cursor: pointer;
} 

.cantidad12{
    width: 3em;
    height: 2em;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 0px 8px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    text-align: center;
    font-size: 18px;
}

input[type="number"]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
}

.boton123 a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    float: left;
}

.datos12 h3 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #373A3C;
    font-size: 26px;
}

.datos12 h5 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #373A3C;
    font-size: 16px;
}

.des123{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.posicion123{
    
    display: flex;
    margin-top: 16%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:10%;
}




.descipcion_producto{
    padding: 20px;
    border:50px;
    margin-top: 20px;
    font-size: 25px;
    width: 90%;
    height: auto;
    background-color:#ffffff;
    box-shadow: 0px 0px 10px;
    margin-bottom: 10%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    align-items: center;
}
.descipcion_producto h5,p{
    opacity: 0.7;
    text-align: center;
}

.des1 h5 {
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 0;
}



.añadir12 {
    width: auto;
    box-shadow: 0px 0px 8px;
    height: auto;
    background-color: #ff9a00;
    flex-direction: column;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 15%;
}

.añadir12 input[type="submit"] {
    background-color: #ff9a00;
    padding: 7px;
    color: white;
    border: 0;
    font-size: 20px;
}

.añadir12 input[type="submit"]:hover {
    cursor: pointer;
}

h5 {
    margin-top: 6%;
}
.añadir1{
    width: 40%;
    box-shadow: 0px 0px 8px;
    height: 2em;
    background-color: #E80D0C;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 6%

}
.añadir1 a{
    
    text-decoration: none;
    color: #ffffff;
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
} 

.añadir12 a{
    
    text-decoration: none;
    color: #ffffff;
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}   


.rank{
    width: 40%;
    height: 200px;
    box-shadow: 0px 0px 10px;
    margin-top: 3%;
    margin-left: 5%;
    
}
.progress h6{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2%;
    margin-right: 2%;
    

}
.espacio12{
    height: 13%;
    width: 100%;
}
.espacio12 h4{
    
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}