* {
    margin: 0;
    padding: 0;
}


.menu-lateralResponsive {
    width: 45%;
    height: 100%;
    background-color: #FFF;
    right: -100%;
    top: 70px;
    position: fixed;
    transition: 1s;
    
}

.nav-responsive {
    float: left;
    width: 100%;
    margin-left: 10px;
}

.nav-responsive ul li {
    text-align: center;
    display: block;
    margin-top: 20px;
    border-bottom: 2px rgba(0, 0, 0, 0.10) solid;
}

.nav-responsive ul li a {
    font-size: 28px;
}

.logo {
    font-family: 'Encode Sans Condensed', sans-serif;
    color: rgba(0,0,0,.65);
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    margin-left: 8px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: rgba(0,0,0,.65);
}

header {
    width: 100%;
    background-color: #FFF;
    opacity: 0.9;
    height: 85px;  
    z-index: 1;
    margin-bottom: 0;
    border-bottom: 1.6px #f1eded solid;
    /* box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, .24); */
}

.icon-menu {
    display: none;
    float: right;
    height: 37px;
    width: 37px;
    margin-top: 16.5px;
    margin-right: 25px;
}

.img-logo {
    height: 70px;
    width: 70px;
    margin-left: 60px;
}

nav {
    float: right;
    margin-right: 10px;
}

nav ul {
    margin-top: 30px;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: rgba(0,0,0, 0.80);
    font-size: 20px;
}

body {
    background-size: cover;
    background: url(../imagenes/registro.jpg) no-repeat center;
}

form {
	background: rgba(0,0,0,.65);
	width: 29%;
	height: auto;
	margin: 80px auto;
	border-radius: 25px;
	font-style: italic;
}

label {
	color: #FFF;
	font-size: 20px;
	width: 100%;
	margin-left: 40px;
}

label p{
    font-family: 'Heebo', sans-serif;
}

h1 {
    font-family: 'Heebo', sans-serif;
	color: #FFF;
	text-align: center;
}

input[type="email"], input[type="password"] {
    width: 100%;
	background: rgba(0, 0, 0, 0);
	height: 40px;
	border: 0;
	font-size: 18px;
    border-bottom: 2px white solid;
    color: #FFF;
}

input[type="password"]::placeholder {
	letter-spacing: 0;
}

input[type="password"] {
    letter-spacing: 6px;
}

input[type="email"]:focus, input[type="password"]:focus {
	outline: none;
	color: #FFF;
}

.perfil {
	width: 100%;
	height: 100px;
	position: relative;
	display: flex;
	justify-content: center;
}

.perfil img {
	height: 130px;
	width: 130px;
	margin-bottom: 50px;
	position: absolute;
	top: -70px;
}

.container {
    padding-right: 2.5%;
    padding-left: 2.5%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    border-radius: 0;
}

.container2 {
    border-top: 1.6px #f1eded solid;
    margin-top: 10px;
}

.container2 p {
    margin-bottom: 10px;
    height: 0;
    font-size: 18px;
}

.container2 a {
    color: rgb(238, 225, 225);
    margin-left: 15%;
}

h4 { 
    font-style: initial;
    margin-top: 10px;
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #FFF;
}

form a {
    margin-top: 10px;
    margin-left: 5px;
    color: #ccc;
}

.container h2 {
    font-size: 20px;
    color: #FFF;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Heebo', sans-serif;
}

.redes {
    margin-left: 30%;
	width: 100%;
}

form {
    border-radius: 0;
    margin-top: 20px;
}

/* Error al registrarse */
.algun_error {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 20px;
    background-color: #f08275b6;
    width: 38%;
    text-align: center;
    padding: 15px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

.algun_error span {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    color: rgba(30, 34, 28, 0.651);
}

.container-boton {
    width: 60%;
    float: left;
}

input[type="submit"] {
    width: 100%;
    margin-top: 40px;
	margin-left: 30%;
	padding: 8px;
	background-color: #0CA302;
	border-radius: 15px;
	border: 2px white solid;
	color: #fff;
	font-style: italic;
	font-size: 18px;
}

input[type="submit"]:focus {
	outline: none;
}

input[type="submit"]:hover {
	transition: 0.5s;
	cursor: pointer;
	background-color:#10E82D ;
	color: #FFF;
}

.img-contraseña {
	height: 28px;
	width: 28px;
	position: absolute;
	right: 45px;
	bottom: 30px;
}

.img-contraseña:hover {
	cursor: pointer;
}

.con_password {
	position: relative;
    width: 100%;
}

#no-ver {
	width: 26px;
	height: 26px;
	display: none;
}

@media screen and (max-width: 1161px) {
	form {
		width: 35%;
	}
}

@media screen and (max-width: 1107px) {
	form {
		width: 45%;
	}
}

@media screen and (max-width: 866px) {
	form {
		width: 50%;
	}
}

@media screen and (max-width: 672px) {
	form {
		width: 60%;
	}
}

@media screen and (max-width: 460px) {
	form {
		width: 90%;
	}
}

@media screen and (max-width: 300px) {
	form {
		width: 97%;
	}

	.img-contraseña {
		display: none;
	}
}


.passwordError {
    color: tomato;
}