@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qtti3h');
  src:  url('fonts/icomoon.eot?qtti3h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qtti3h') format('truetype'),
    url('fonts/icomoon.woff?qtti3h') format('woff'),
    url('fonts/icomoon.svg?qtti3h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
